<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div align="center">
    <h2>Регистрация</h2>
    <form th:method="Post" th:action="@{/registration}" th:object="${userNew}" >

        <input name="Email" type="text" th:field="*{email}"  placeholder="Email" autofocus="autofocus"/>
        <br>
        <input name="Password" type="text" th:field="*{password}"   placeholder="Password"  autofocus="autofocus"/>
        <br>
        <br>
        <input type="submit" value="Зарегистрироваться"/>
        <br>
        <br>
    </form>
    <a href="/admin/">Назад</a>
    <br>
    <br>
</div>
</body>
</html>
